doctype html
html(lang="en")
  head
    title Gulp Starter
    link(rel='stylesheet', href="css/main.css")
  body
    h1 Pug - node template engine
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
  script(src="js/min/scripts.min.js")